<IfModule mod_auth.c>
 <Files "admin.php">
  AuthName "Username and password required"
  AuthUserFile /var/www//ycg.org.uk/testing/CStwitter/.htpasswd
  Require valid-user
  AuthType Basic
 </Files>
</IfModule>
