/*
Website: York Colleges Guild
Type: CSS
Name: Peal page Style Sheet
Created: 20th April 2020
Last modified: 21st April 2020
Author: Will Lake
 */

.pealdate {
    font-weight: bold;
    color: var(--ycgGreen);
    font-size: 30px;
    text-align: center;
    font-variant: small-caps;
    font-family: Sitka Heading;
}

.pealmethodmain {
    font-weight: bold;
}

.pealmethodsecondery {

}

.pealtower {
    text-align: center;
    font-variant: small-caps;
}

.pealringer {
    padding-top: 10px;
}

.pealfootnote {
    padding-bottom: 5px;
}

.pealphoto {
    width: 100%;
}

.pealphotocaption {

}

.pealcardpadding {
    padding-bottom: 20px;
}

.collapsible {
    color: #000000;
    cursor: pointer;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
    outline: none;
}

.active, .collapsible:hover {
}

.collapsible:after {
    content: '\002B';
    color: #000000;
    font-weight: bold;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'expand year peals quarters other total'
    'extra extra extra extra extra extra';
    gap: 1px;
    grid-template-columns: 5% 19% 19% 19% 19% 19%;
    grid-template-rows: 40px;
    background-color: #c0c0c0;
    padding-right: 5px;
    width: 100%;
    border: 1px solid #c0c0c0;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    /*border: 1px solid #c0c0c0;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.year {
    grid-area: year;
    font-weight: bold;
}

.peals {
    grid-area: peals;
}

.quarters {
    grid-area: quarters;
}

.other {
    grid-area: other;
}

.total {
    grid-area: total;
}

.expand {
    grid-area: expand;
}

.extra {
    grid-area: extra;
}

.extra {
    grid-area: extra;
}

.tower {
    grid-area: tower;
}

.grid-container-location {
    display: grid;
    grid-template-areas:
    'expand tower peals quarters other total';
    gap: 1px;
    grid-template-columns: 5% 19% 19% 19% 19% 19%;
    /*grid-template-rows: 40px;*/
    background-color: #a0a0a0;
    padding-right: 5px;
    width: 100%;
    border: 1px solid #c0c0c0;
}

.grid-container-location > div {
    background-color: rgba(220, 220, 220, 1);
    text-align: center;
    /*border: 1px solid #c0c0c0;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}